// a label for a field or a multifield
.field_label {
  color: $field-label-color;
}

// flags are short pieces of text that explain something about the field
.field_flag {
  color: $field_flag_color;
}

// help text for a field or multifield
.field_helptext {
}

// an individual input element in a field
.field_input {
}

// an individual select element in a field
.field_select {
  height: 2.5em; // this is a hack right now, but padding doesn't work in browsers yet :(
  &:before {}
}

.field_input,
.field_select {
  background: $color-white;
  display: block;
  padding: $bump-small;
  border: 1px solid $field_border_color;
  line-height:1em;
  font-family: sans-serif;
}


.field_first_name {}
.field_middle_name {}
.field_last_name {}
.field_dob {}
.field_ssn {}
.field_gender {}
