.form {
}

// a wrapper for a full section of the form, such as "household size"
.form_section {
  background-color: $color-lightgray; // placeholder
  margin-bottom: 5em;
  padding: 1em;
}

// a wrapping element for multiple fields that lie on one row
.form_row {
  @include clearfix();
  margin-bottom: .5em;
  .form_field {
    float: left;
    &:not(:first-child) {
      margin-left: -1px;
    }
  }
}

// a single input with associated label and help text
.form_field {
  display: block;
  margin-top: .2em;
}

// two or more inputs that share a label & help text
.form_multifield {
}

// a wrapper for a set of many to one forms
.form_multiform_collection {
}

// a form that may be repeated based on the number of items
// also called many-to-one form
.form_multiform {
  .form_field {
    margin-top: -1px;
  }
  border-left: 2px solid blue; // placeholder for denoting a row in many-to-ones
  padding-left: 10px; // placeholder
  margin-bottom: .5em;
}