/*
** LISTS / PATIENT LISTS / SEARCH RESULTS
** Any time we show search results they use these
** styles. Currently only used for showing patients
** that exist in the database.
*/

@mixin list_reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin bbox($option: border-box) {
  -webkit-box-sizing: $option;
     -moz-box-sizing: $option; 
          box-sizing: $option;  
}

@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
$break: 50em;
$color-fuscia: #c71e56;
$color-lightgray: #c0c0c0;

$color-blue: #4682B4;
$color-red: #DF4D4A;
$color-green: #2ECC40;

$ui-new: $color-blue;
$ui-alert: $color-red;
$ui-success: $color-green;

.container {
  max-width: 50em;
  margin: auto;
}

.list {
  @include list_reset();
}

.list_table {
  margin-bottom: 3em;
  .list_table_title {
    font-size: 1.4em;
    font-weight: 900;
    display:block;
    margin-bottom: .5em;
  }
}
.list_patient {
  position: relative;
  @include bbox();
  display: block;
  width: 100%;
  border-bottom: 1px solid #f6f6f6;
  &:nth-child(2n) {
    background-color: #f6f6f6;
  }
  a {
    display:block;
    padding: 10px;
  }
  .list_patient_item {
    // text-size: 0px;
    display:block;
    @media (min-width: $break) {
      display: inline-block;
      vertical-align: top;
    }
  }

  &:hover {
    background-color: $color-fuscia;
    .list_patient_item {
      color: $color-white;
    }
  }

  &.list_patient_new,
  &.list_patient_warning,
  &.list_patient_updated {
    &:before {
      font-family: "FontAwesome";
      font-size: .8em;
      @media (min-width: $break) {
        position:absolute;
        left: -22px;
        top: 11px;
      }
    }
  }
  &.list_patient_new {
    border-right: 5px solid lighten($ui-new, 20);
    &:before {
      color: $ui-new;
      content:"\f10c";
    }
  }
  &.list_patient_warning {
    border-right: 5px solid lighten($ui-alert, 20);
    &:before {
      color: $ui-alert;
      content:"\f06a";
    }
  }
  &.list_patient_updated {
    border-right: 5px solid lighten($ui-success, 20);
    &:before {
      color: $ui-success;
      content:"\f058";
    }
  }
}

.list_patient_name {
  font-weight: 700;
  color: $color-fuscia;

  @media (min-width: $break) {
    width: 35%;
  }
}

.list_patient_dob {
  font-weight: 100;
  color: $color-lightgray;
  font-family: monospace;
  @media (min-width: $break) {
    width: 20%;
  }
}

.list_patient_edits {
  color: $color-black;
  font-size: .9em;
  @media (min-width: $break) {
    text-align: right;
    width: 43%;
  }
}

