// resetting lists
@mixin list_reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// box sizing
@mixin bbox($option: border-box) {
  -webkit-box-sizing: $option;
     -moz-box-sizing: $option; 
          box-sizing: $option;  
}

// transition
@mixin transition($time: .2s) {
  -webkit-transition: $time;
     -moz-transition: $time;
      -ms-transition: $time;
       -o-transition: $time;
          transition: $time;
}