body {
  overflow-x: hidden; // remove this!
}

// main container element
// TODO: specifically set the widths for this one
.container {
  margin:auto;
  @media (min-width: $break + 2em) {
    width: $break;
  }
  @media (min-width: $break-large + 2em) {
    width: $break-large;
  }
}



// sections within the page, currently only used
// for setting a background color to .section_search
.section {}
.section_search {}
.section_patient_listings {}
.section_patient_details {}