body {
  overflow-x: hidden; // remove this!
}

// main container element
// TODO: specifically set the widths for this one
.container {
  margin:auto;
  padding: 0 1em;
  @media (min-width: $break) {
    width: $break - 2em;
  }
  @media (min-width: $break-large) {
    width: $break-large - 2em;
  }
}



// sections within the page, currently only used
// for setting a background color to .section_search
.section {}
.section_search {}
.section_patient_listings {}
.section_patient_details {}