<div class="nav_patient">
  <div class="breadcrumbs breadcrumbs_patient">
    <a class="crumb crumb_home"><i class="fa fa-home"></i></a>
    <a class="crumb" href="#">Patients</a>
    <a class="crumb crumb_current" href="#">John Smith</a>
  </div>

  <div class="patient_options">
    <a class="button button_green" href="/new_prescreening/12">
      <i class="fa fa-th"></i>
      Prescreen
    </a>

    <a class="button button_blue" href="/new_prescreening/12">
      <i class="fa fa-share"></i>
      Refer
    </a>

    <a class="button button_black" href="/delete/12">
      <i class="fa fa-print"></i>
    </a>

    <a class="button button_red button_inverse" href="/delete/12">
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
</div>