{% extends "base.html" %}
{% block content %}

  <section class="section_search">
    <div class="container">
      <!-- <h1>RVA Screener</h1> -->

      <!-- <div class="form_field">
        <input type="text" class="search field_input field_input_big" placeholder="Search your patients..."/>
      </div> -->

      <h2>New/Search Patient</h2>

      <div class="patient_search_form form_row">
        <label class="form_field field_search_patient_name">
          <span class="field_label">
            Patient Name
          </span>
          <input type="text"
            class="field_input"
            name="search_patient_name">
        </label>

        <label class="form_field field_search_patient_dob">
          <span class="field_label">
            Date of Birth
          </span>
          <input type="text"
            class="field_input"
            name="search_patient_dob">
        </label>

        <label class="form_field field_search_patient_ssn">
          <span class="field_label">
            SSN
          </span>
          <input type="text"
            class="field_input"
            name="search_patient_ssn">
        </label>
      </div>

      <div class="search_results"></div>

    </div>
  </section>


  <div class="container">
    <div class="filter" id="filter"></div>
    
    <ul class="list list_table">
      <span class="list_table_title">New Patients</span>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name ">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>

      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
    </ul>


    <ul class="list list_table">
      <span class="list_table_title">Other</span>
      <li class="list_row list_row_new">
        <a href="#">
          <span class="list_row_item list_row_name ">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>

      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_updated">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_updated">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name that happens to be really long!</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>


      
    </ul>
  </div>
{% endblock %}


{% block script %}
<script>
window.onload = init();
function init() {
  window.App = new AppController({
    foo: 'bar'
  });

  window.F = new Filter({
    id: "filter",
    filterClass: 'list_row',
    filters: [
      { name: "New", id: "list_row_new" },
      { name: "Recently Updated", id: "list_row_updated" },
      { name: "Warning", id: "list_row_warning" }
    ]
  });
}
</script>
{% endblock %}