{% extends "base.html" %}
{% block content %}

  <section class="section_search">
    <div class="container">

      <h2>New/Search Patient</h2>

      {% include "includes/search_form.html" %}

      <div id="search_results"></div>

    </div>
  </section>

  <div class="container">

    <div class="block_3 sidebar">
      <!-- <div class="filter" id="filter"></div> -->

      
      <button data-list="0" class="filter filter_statistic filter_active">
        <span class="statistic_number">145</span>
        <span class="statistic_text"><strong>Total patients</strong> at Richmond Resource Centers.</span>
      </button>

      <button data-list="1" class="filter filter_statistic">
        <span class="statistic_number">8</span>
        <span class="statistic_text">Patients have been updated <strong>today</strong>.</span>
      </button>

      <button data-list="2" class="filter filter_statistic">
        <span class="statistic_number">13</span>
        <span class="statistic_text"><strong>New patients</strong> in the last week.</span>
      </button>

      <button data-list="3" class="filter filter_statistic">
        <span class="statistic_number">21</span>
        <span class="statistic_text">Patients have visited <strong>other clinics</strong> in the past month.</span>
      </button>

      <button data-list="4" class="filter filter_statistic">
        <span class="statistic_number">54</span>
        <span class="statistic_text">Patients <strong>haven't been updated</strong> in over a year.</span>
      </button>
    </div>

    <div class="block_9 block_padding">
      <h4>Viewing patients at <strong>Richmond Resource Center</strong></h4>

      <ul id="list-0" class="list list_table list_filter list_filter_active">
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>

        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name that happens to be really long!</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>  
      </ul>

      <ul id="list-1" class="list list_table list_filter">
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
      </ul>

      <ul id="list-2" class="list list_table list_filter">
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
      </ul>

      <ul id="list-3" class="list list_table list_filter">
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
      </ul>

      <ul id="list-4" class="list list_table list_filter">
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name ">Patient Name</span>
            <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
      </ul>
    </div>

  </div>
{% endblock %}


{% block script %}
<script type="defiant/xsl-template">
  <xsl:template name="search_results_list">
    <ul class="list list_table">
      <xsl:for-each select="//patients">
        <li class="list_row">
          <a href="#">
            <span class="list_row_item list_row_name"><xsl:value-of select="name"/></span>
            <span class="list_row_item list_row_dob"><xsl:value-of select="dob"/></span>
            <span class="list_row_item list_row_edits">Richmond Resource Center</span>
          </a>
        </li>
      </xsl:for-each>

      <xsl:for-each select="//none">
        <li class="list_row list_row_addnew">
          <a href="#">
            <i class="fa fa-plus"></i> Not the right <strong><xsl:value-of select="name"/></strong>? Add them as a new patient.
          </a>
        </li>
      </xsl:for-each>

    </ul>
  </xsl:template>

  <xsl:template name="search_noresults">
    <xsl:for-each select="//none">
      <div class="no_results">
        <p><i class="fa fa-exclamation-circle"></i> No patients matched <strong><xsl:value-of select="name"/></strong></p>
        <a href="#" class="button button_blue button_fat button_add">
          Create a new patient record with <xsl:value-of select="name"/>
        </a>
      </div>
    </xsl:for-each>
  </xsl:template>
</script>
{% endblock %}