{% extends "base.html" %}
{% block content %}

  <div class="container">

    <div class="block_3 sidebar">
      <div class="filter" id="filter"></div>

      <div class="statistic">
        <span class="statistic_number">13</span>
        <span class="statistic_text">New patients in the last week.</span>
      </div>
    </div>

    <div class="block_9">
      <h4>Viewing patients at <strong>Richmond Resource Center</strong></h4>

      
      <ul class="list list_table">
        <span class="list_table_title">New Patients</span>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name ">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>

        <li class="list_patient list_patient_warning">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
      </ul>

      <ul class="list list_table">
        <span class="list_table_title">Other</span>
        <li class="list_patient list_patient_new">
          <a href="#">
            <span class="list_patient_item list_patient_name ">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>

        <li class="list_patient list_patient_warning">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient list_patient_updated">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient list_patient_updated">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient list_patient_warning">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name that happens to be really long!</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>
        <li class="list_patient">
          <a href="#">
            <span class="list_patient_item list_patient_name">Patient Name</span>
            <span class="list_patient_item list_patient_dob">DOB: 10/12/1981</span>
            <span class="list_patient_item list_patient_edits">Richmond Resource Center</span>
          </a>
        </li>  
      </ul>
    </div>

  </div>
{% endblock %}


{% block script %}
<script>
window.onload = init();
function init() {
  window.App = new AppController({
    foo: 'bar'
  });

  window.F = new Filter({
    id: "filter",
    filterClass: 'list_patient',
    filters: [
      { name: "New", id: "list_patient_new" },
      { name: "Recently Updated", id: "list_patient_updated" },
      { name: "Warning", id: "list_patient_warning" }
    ]
  });
}
</script>
{% endblock %}