{% extends "base.html" %}
{% block content %}

<div class="container">

  <div class="row">
    <div class="block_8">
      <h2>Choose which services you'd like to prescreen for</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>


  <form method="post">     
    <label class="field_checkbox checkbox_extra checkbox_blue">
      <input type="checkbox" class="text" value="1" name="services" checked="true">
      <span class="field_checkbox_content">
        <span class="field_checkbox_content_title">Daily Planet</span>
        <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
      </span>
    </label>

    <label class="field_checkbox checkbox_extra checkbox_blue">
      <input type="checkbox" class="text" value="1" name="services" checked="true">
      <span class="field_checkbox_content">
        <span class="field_checkbox_content_title">Crossover</span>
        <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
      </span>
    </label>

    <label class="field_checkbox checkbox_extra checkbox_blue">
      <input type="checkbox" class="text" value="1" name="services" checked="true">
      <span class="field_checkbox_content">
        <span class="field_checkbox_content_title">RCHD Resource Centers</span>
        <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
      </span>
    </label>

    <label class="field_checkbox checkbox_extra checkbox_blue">
      <input type="checkbox" class="text" value="1" name="services" checked="true">
      <span class="field_checkbox_content">
        <span class="field_checkbox_content_title">Bon Secours</span>
        <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
      </span>
    </label>

    <label class="field_checkbox checkbox_extra checkbox_blue">
      <input type="checkbox" class="text" value="1" name="services" checked="true">
      <span class="field_checkbox_content">
        <span class="field_checkbox_content_title">VCU</span>
        <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
      </span>
    </label>

    <label class="field_checkbox checkbox_extra checkbox_blue">
      <input type="checkbox" class="text" value="1" name="services" checked="true">
      <span class="field_checkbox_content">
        <span class="field_checkbox_content_title">RBHA</span>
        <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
      </span>
    </label>

    <label class="field_checkbox checkbox_extra checkbox_blue">
      <input type="checkbox" class="text" value="1" name="services" checked="true">
      <span class="field_checkbox_content">
        <span class="field_checkbox_content_title">Fan Free Clinic</span>
        <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
      </span>
    </label>

    <label class="field_checkbox checkbox_extra checkbox_blue">
      <input type="checkbox" class="text" value="1" name="services" checked="true">
      <span class="field_checkbox_content">
        <span class="field_checkbox_content_title">Planned Parenthood</span>
        <span class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</span>
      </span>
    </label>
  </form>

  <br><br><br>

  <div class="row">
    <div class="block_8">
      <h2>Choose which services you'd like to prescreen for</h2>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat.</p>
    </div>
  </div>

  <form method="post" class="row">
   

      <div class="block_6 prescreen_service">
        <label class="field_checkbox checkbox_green checkbox_simple pull_left" style="margin: 0 1em 2em 0; ">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title"></span>
          </span>
        </label>
        
        <div class="prescreen_service_content">
          <span class="prescreen_service_title">
            Daily Planet
          </span>
          <p class="prescreen_service_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
        </div>
      </div> 

      <div class="block_6 prescreen_service">
        <label class="field_checkbox checkbox_green checkbox_simple pull_left" style="margin: 0 1em 2em 0; ">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title"></span>
          </span>
        </label>
        
        <div class="prescreen_service_content">
          <span class="prescreen_service_title">
            Crossover
          </span>
          <p class="prescreen_service_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
        </div>
      </div> 

      <div class="block_6 prescreen_service">
        <label class="field_checkbox checkbox_green checkbox_simple pull_left" style="margin: 0 1em 2em 0; ">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title"></span>
          </span>
        </label>
        
        <div class="prescreen_service_content">
          <span class="prescreen_service_title">
            RCHD Resource Centers
          </span>
          <p class="prescreen_service_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
        </div>
      </div> 

      <div class="block_6 prescreen_service">
        <label class="field_checkbox checkbox_green checkbox_simple pull_left" style="margin: 0 1em 2em 0; ">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title"></span>
          </span>
        </label>
        
        <div class="prescreen_service_content">
          <span class="prescreen_service_title">
            Bon Secours
          </span>
          <p class="prescreen_service_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
        </div>
      </div> 

      <div class="block_6 prescreen_service">
        <label class="field_checkbox checkbox_green checkbox_simple pull_left" style="margin: 0 1em 2em 0; ">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title"></span>
          </span>
        </label>
        
        <div class="prescreen_service_content">
          <span class="prescreen_service_title">
            VCU
          </span>
          <p class="prescreen_service_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
        </div>
      </div> 

      <div class="block_6 prescreen_service">
        <label class="field_checkbox checkbox_green checkbox_simple pull_left" style="margin: 0 1em 2em 0; ">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title"></span>
          </span>
        </label>
        
        <div class="prescreen_service_content">
          <span class="prescreen_service_title">
            Fan Free Clinic
          </span>
          <p class="prescreen_service_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
        </div>
      </div> 

      <div class="block_6 prescreen_service">
        <label class="field_checkbox checkbox_green checkbox_simple pull_left" style="margin: 0 1em 2em 0; ">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title"></span>
          </span>
        </label>
        
        <div class="prescreen_service_content">
          <span class="prescreen_service_title">
            RBHA
          </span>
          <p class="prescreen_service_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
        </div>
      </div> 

      <div class="block_6 prescreen_service">
        <label class="field_checkbox checkbox_green checkbox_simple pull_left" style="margin: 0 1em 2em 0; ">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title"></span>
          </span>
        </label>
        
        <div class="prescreen_service_content">
          <span class="prescreen_service_title">
            Planned Parenthood
          </span>
          <p class="prescreen_service_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
        </div>
      </div> 


  </form>



  <br><br><br>

  <h2>Choose which services you'd like to prescreen for</h2>
  <form method="post">

    <div class="row">

      <div class="block_3">
        <label class="field_checkbox checkbox_blue">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title">Daily Planet</span>
          </span>
        </label>
        <p class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
      </div> 

      <div class="block_3">
        <label class="field_checkbox checkbox_blue">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title">Crossover</span>
          </span>
        </label>
        <p class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
      </div> 

      <div class="block_3">
        <label class="field_checkbox checkbox_blue">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title">RCHD Resource Centers</span>
          </span>
        </label>
        <p class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
      </div> 

      <div class="block_3">
        <label class="field_checkbox checkbox_blue">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title">Bon Secours</span>
          </span>
        </label>
        <p class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
      </div> 
    </div>

    <div class="row">
    
      <div class="block_3">
        <label class="field_checkbox checkbox_blue">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title">VCU</span>
          </span>
        </label>
        <p class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
      </div> 

      <div class="block_3">
        <label class="field_checkbox checkbox_blue">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title">Fan Free Clinic</span>
          </span>
        </label>
        <p class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
      </div> 

      <div class="block_3">
        <label class="field_checkbox checkbox_blue">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title">RBHA</span>
          </span>
        </label>
        <p class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
      </div> 

      <div class="block_3">
        <label class="field_checkbox checkbox_blue">
          <input type="checkbox" class="text" value="1" name="services" checked="true">
          <span class="field_checkbox_content">
            <span class="field_checkbox_content_title">Planned Parenthood</span>
          </span>
        </label>
        <p class="field_checkbox_content_text">Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing</a> elit, sed do eiusmod</p>
      </div> 

    </div>

  </form>
</div>

{% endblock %}