<html lang="en">
<head>
  <title>MAIN NAVIGATION</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link href="/css/main.css" rel="stylesheet">
  <style>
  body {
    padding:0;
    margin:0;
  }
  </style>
</head>
<body>
  
  <nav class="nav" id="nav">
    <div class="nav_logo">SCREENER</div>
    <div class="nav_menu">
      <ul class="nav_menu_list">
        <li class="menu_list_item"><a href="#">Prescreen</a></li>
        <li class="menu_list_item"><a href="#">View Your Patients</a></li>
        <li class="menu_list_item"><a href="#">Find Patient In Your Network</a></li>
        <li class="menu_list_item"><a href="#">Create Patient</a></li>
      </ul>
    </div>
    <div class="nav_user"></div>
  </nav>

  <button class="button button_nav" id="nav_button">menu</button>



  <script>

  $(document).ready(function(){
    console.log('let us nav');
  });

  window.menu = {
    yDown: null,
    xDown: null,
    swipeMenuState: false,
    elem: document.getElementById('nav'),
    button: document.getElementById('nav_button'),

    open: function() {
      menu.elem.className += ' open';
      document.body.className = 'menu_open';
      menu.button.className += ' open';
      menu.swipeMenuState = !menu.swipeMenuState;
    },

    close: function() {
      menu.elem.className = 'nav';
      document.body.className = '';
      menu.button.className = 'button button_nav';
      menu.swipeMenuState = !menu.swipeMenuState;
    },

    toggle: function() {
      if (menu.swipeMenuState) {
        menu.close();
      } else {
        menu.open();
      }
    },

    handleTouchStart: function(event) {
      menu.xDown = event.touches[0].clientX;                                      
      menu.yDown = event.touches[0].clientY;
    },

    handleTouchMove: function(event) {
      if ( ! menu.xDown || ! menu.yDown ) {
        return;
      }

      var xUp = event.touches[0].clientX,                                    
          yUp = event.touches[0].clientY,
          xDiff = menu.xDown - xUp,
          yDiff = menu.yDown - yUp;

      if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {
        document.body.className = 'menu_open'; // prevent vertical scroll during open
        if ( xDiff > 0 ) {
          if (menu.swipeMenuState) menu.close(); 
        } else {
          if (!menu.swipeMenuState) menu.open();
        }                       
      } else {
        if ( yDiff > 0 ) {
          /* up swipe, do nothing */ 
        } else { 
          /* down swipe, do nothing */
        }                                                                 
      }

      /* reset values */
      menu.xDown = null;
      menu.yDown = null; 
    }
  }

  // screen swiping
  document.addEventListener('touchstart', menu.handleTouchStart, false);
  menu.button.addEventListener('click', menu.toggle, false);        
  document.addEventListener('touchmove', menu.handleTouchMove, false);
  </script>


</body>
</html>