<html lang="en">
<head>
  <title>MAIN NAVIGATION</title>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <link href="static/css/main.css" rel="stylesheet">
  <style>
  body {
    padding:0;
    margin:0;
  }
  </style>
</head>
<body>
  
  <nav class="nav">
    <div class="nav_logo"></div>
    <div class="nav_menu">
      <ul class="nav_menu_list">
        <li class="menu_list_item"><a href="#">Prescreen</a></li>
        <li class="menu_list_item"><a href="#">View Your Patients</a></li>
        <li class="menu_list_item"><a href="#">Find Patient In Your Network</a></li>
        <li class="menu_list_item"><a href="#">Create Patient</a></li>
      </ul>
    </div>
    <div class="nav_user"></div>
  </nav>



  <script>

  $(document).ready(function(){
    console.log('let us nav');
  });
  </script>


</body>
</html>