{% extends "base.html" %}
{% block content %}

  <section class="section_search">
    <div class="container">

      <h2>New/Search Patient</h2>

      {% include "includes/search_form.html" %}

      <div class="search_results">

        <div class="block_8">

          <ul class="list list_table">
            <span class="list_table_title list_table_title_sm">In your network:</span>
            <li class="list_row">
              <a href="#">
                <span class="list_row_item list_row_name ">Patient Name</span>
                <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
                <span class="list_row_item list_row_edits">Richmond Resource Center</span>
              </a>
            </li>
            <li class="list_row">
              <a href="#">
                <span class="list_row_item list_row_name">Patient Name</span>
                <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
                <span class="list_row_item list_row_edits">Richmond Resource Center</span>
              </a>
            </li>
            <li class="list_row">
              <a href="#">
                <span class="list_row_item list_row_name">Patient Name</span>
                <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
                <span class="list_row_item list_row_edits">Richmond Resource Center</span>
              </a>
            </li>
          </ul>
          <ul class="list list_table">
            <span class="list_table_title list_table_title_sm">Outside of the network</span>
            <li class="list_row list_row_outside_network">
              <a href="#">
                <span class="list_row_item list_row_name">Patient Name</span>
                <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
                <span class="list_row_item list_row_edits">Richmond Resource Center</span>
              </a>
            </li>
            <li class="list_row list_row_outside_network">
              <a href="#">
                <span class="list_row_item list_row_name">Patient Name</span>
                <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
                <span class="list_row_item list_row_edits">Richmond Resource Center</span>
              </a>
            </li>
            <li class="list_row list_row_outside_network">
              <a href="#">
                <span class="list_row_item list_row_name">Patient Name</span>
                <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
                <span class="list_row_item list_row_edits">Richmond Resource Center</span>
              </a>
            </li>
            <li class="list_row list_row_outside_network">
              <a href="#">
                <span class="list_row_item list_row_name">Patient Name</span>
                <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
                <span class="list_row_item list_row_edits">Richmond Resource Center</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="block_4 block_padding">
          <div class="no_results">
            <p><strong>Don't see the patient? </strong></p>
            <p>You can create a new patient record with this information!</p>
            <a href="#" class="button button_blue">Create Patient</a>
          </div>
        </div>

      </div>

    </div>
  </section>


  <div class="container">
    <div class="filter" id="filter"></div>
    
    <ul class="list list_table list_padding_large">
      <span class="list_table_title">New Patients</span>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name ">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>

      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
    </ul>


    <ul class="list list_table">
      <span class="list_table_title">Other</span>
      <li class="list_row list_row_new">
        <a href="#">
          <span class="list_row_item list_row_name ">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>

      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_updated">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_updated">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name that happens to be really long!</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
    </ul>
  </div>
{% endblock %}