{% extends "base.html" %}
{% block content %}

  <section class="section_search">
    <div class="container">

      <h2>New/Search Patient</h2>

      {% include "includes/search_form.html" %}

      <div class="search_results">
        <ul class="list list_table">
          <li class="no_results">
            Searching <i class="fa fa-refresh spinner"></i>
          </li>
        </ul>
      </div>

    </div>
  </section>


  <div class="container">
    <div class="filter" id="filter"></div>
    
    <ul class="list list_table">
      <span class="list_table_title">New Patients</span>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name ">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>

      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
    </ul>


    <ul class="list list_table">
      <span class="list_table_title">Other</span>
      <li class="list_row list_row_new">
        <a href="#">
          <span class="list_row_item list_row_name ">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>

      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_updated">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_updated">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row list_row_warning">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name that happens to be really long!</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>
      <li class="list_row">
        <a href="#">
          <span class="list_row_item list_row_name">Patient Name</span>
          <span class="list_row_item list_row_dob">DOB: 10/12/1981</span>
          <span class="list_row_item list_row_edits">Richmond Resource Center</span>
        </a>
      </li>


      
    </ul>
  </div>
{% endblock %}


{% block script %}
<script>
window.onload = init();
function init() {
  window.App = new AppController({
    foo: 'bar'
  });

  window.F = new Filter({
    id: "filter",
    filterClass: 'list_row',
    filters: [
      { name: "New", id: "list_row_new" },
      { name: "Recently Updated", id: "list_row_updated" },
      { name: "Warning", id: "list_row_warning" }
    ]
  });
}
</script>
{% endblock %}